<p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
<div>
    <h4 class="text-center mt-5 mb-5">Kindly Add Scheme Of Study</h4>
<!-- <div class="col-sm-12 p-col-12 text-center" style="display: flex; justify-content: space-around;">
<div class="col-sm-6 p-col-6">
    <p-dropdown [options]="subjects" [(ngModel)]="selectedSubject" optionLabel="name" placeholder="Select a Subject"></p-dropdown>
</div>
<div class="col-sm-6 p-col-6">
    <p-dropdown [options]="class" [(ngModel)]="selectedClass" optionLabel="name" placeholder="Select Class"></p-dropdown>
</div>
</div> -->
<div class="text-center">
<textarea [rows]="9" [cols]="100" pInputTextarea placeholder="Please Add Scheme Of Study" [(ngModel)]="schemeOfStudy"></textarea>
<br>
<button class="btn btn-primary mt-2 mb-3" (click)="submitSchemeOfStudy()">Submit</button>
</div>

</div>