<div class="col-sm-12">
    <div class="col-sm-12 mt-5 mb-4 text-center"><h3>Upload Paper</h3></div>
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
        <div>start Time:  <input type="datetime-local" [(ngModel)]="startTime"></div>
        <div>End Time:  <input type="datetime-local" [(ngModel)]="endTime"></div>
    </div>
    <br/>
    <div class="mt-5">
        <div class="col-sm-12 mt-5 text-center"><h5>Question Paper</h5></div>
        <p-editor [(ngModel)]="paper_text" [style]="{'height':'320px'}"></p-editor>
        <button class="btn btn-primary mt-3" (click)="submitpaper()">Submit Paper</button>
    </div>
</div>
