<div>
    <h4 class="text-center mt-5 mb-5">Kindly Upload Class Link</h4>
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
        <div>start Time:  <input type="datetime-local" [(ngModel)]="startTime"></div>
        <div>End Time:  <input type="datetime-local" [(ngModel)]="endTime"></div>
    </div>
    <br/>
<!-- <div class="col-sm-12 p-col-12 text-center" style="display: flex; justify-content: space-around;">
<div class="col-sm-6 p-col-6">
    <p-dropdown [options]="subjects" [(ngModel)]="selectedSubject" optionLabel="name" placeholder="Select a Subject"></p-dropdown>
</div>
<div class="col-sm-6 p-col-6">
    <p-dropdown [options]="class" [(ngModel)]="selectedClass" optionLabel="name" placeholder="Select Class"></p-dropdown>
</div>
</div> -->
<div class="text-center">
<textarea [rows]="1" [cols]="100" pInputTextarea placeholder="Upload Class Link" [(ngModel)]="classLink"></textarea>
<br>
<button class="btn btn-primary mt-2 mb-3" (click)="sendClassLink()" >Upload</button>
</div>

</div>