<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="../../assets/imgs/LogoF.png" alt="kjasbf" srcset="" height="40px"></a>
</nav>
    <div class="col-sm-12 space"></div>
    <div class="login-form">
        <form action="/examples/actions/confirmation.php" method="post">
            <h2 class="text-center">Log in</h2>       
            <div class="form-group">
                <input type="text" [(ngModel)]='user.email' name="userName" class="form-control" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]='user.password' name="userPass" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <h6 style="color: indianred;">{{message}}</h6>
            </div> 
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" (click)="login()">Log in</button>                
            </div>
            <div class="form-group">
              <p>Dont Have Account? <br/> <a routerLink="/signup"  class="mr-5">Signup</a> <a routerLink="/signup"  class="ml-5">Signup As Guest</a></p>
            </div>

            <!-- <div class="clearfix">
                <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
                <a href="#" class="float-right">Forgot Password?</a>
            </div> -->
        </form>
    </div>