

<div class="root_schemeofstudies ml-2 mr-2">
    <div class="scheme_wrapper">
        <div class="heading_scheme text-center mt-5 mb-4">
            <h3>Scheme Of Studies</h3>
            <p class="pl-3 pr-3 pt-2 pb-2 ml-2 mr-2 scheme_para">{{schemeOdStudies}}</p> 
        </div>
    </div>

    <div class="assesments_wrapper">
        <h1>Paper</h1>

    <div class="col-sm-12" style="display: flex; flex-direction: row; justify-content: space-around;">
        <div>
            <h5>Start Time</h5>
            <p>onlineexam.startTime}}</p>
        </div>
        <div>
            <h5>End Time</h5>
            <p>onlineexam.endTime}}</p>
        </div>
    </div>

    <div class="mt-5">
        <div class="col-sm-12 mt-5 text-center"><h5>Write your Answer Here</h5></div>
        <p-editor [(ngModel)]="paper_text" [style]="{'height':'320px'}"></p-editor>
        <button class="btn btn-primary mt-3" (click)="submitAnswerSheet()">Submit Paper</button>
    </div>

</div>