<!--        Table wrapper   -->
<div class="col-sm-12"> 
    <div class="col-sm-12 mt-5">
      <h2 class="text-center">Select a Subject</h2>  
    </div>

    <div class="cards-list">
      <div class="card 1" *ngFor="let course of smallfinalarray; index as i" (click)="gotodetailspage(course._id)">
        <div class="card_image"> <img src="https://res.cloudinary.com/umarnazaket/image/upload/v1616948600/tbel-abuseridze-EtwnK9c5KvQ-unsplash_kqeeoo.jpg" /> </div>
        <div class="card_title title-white">
          <p>{{course.name}}</p>
          <p>Class: {{course.class}}</p>
        </div>
      </div>
      
      </div>
    </div>