<div class="card mt-5">
    <h5>Attendance</h5>
    <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
</div>


<p-table [value]="attendances">
  <ng-template pTemplate="header">
      <tr>
          <th>No.</th>
          <th>Date</th>
          <th>Ispresent</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-student let-i="rowIndex">
      <tr>
          <td>{{i+1}}</td>
          <td>{{student.date}}</td>
          <td>{{(student.status == 1)?'Present':'Absent'}} </td>
      </tr>
  </ng-template>
</p-table>


