.datahead{
    min-width: 220px;
  }
  
  .progress-bar{
    background-color: #61CE70;
    border-radius: 9px;
  }
  .progress{
    border-radius: 9px;
    height: 13px;
  }
  a{
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
  }
  .fa{
    cursor: pointer;
  }