<div class="container mb-5">
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-2">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>Future Foundation School</strong>
                        <br>
                        Street 04, Satellite Town
                        <br>
                        Rawalpindi
                        <br>
                        <abbr title="Phone">Phone:</abbr> (+92) 311 1234567
                        <br>
                        
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Receipt #: 34522677W</em>
                    </p>
                    <p>
                        <em>Due Date: 1st Nov, 2021</em>
                    </p>
                    
                </div>
            </div>
            <div class="row NameRoll">
                <div class="col-xs-6 col-sm-6 col-md-6">
                        
                        <strong>Name: </strong> Bilal Munir
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <strong>Roll No: </strong> 34522
                    </p>
                    
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h4>Fee Receipt</h4>
                </div>
                <table class="table table-hover">
                    
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th></th>
                            <th class="text-center"></th>
                            <th class="text-center">Amount(Rs.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9"><h5><em>Monthly Fee</em></h5></td>
                            <td class="col-md-1" style="text-align: center">  </td>
                            <td class="col-md-1 text-center"></td>
                            <td class="col-md-1 text-center">260</td>
                        </tr>
                        <tr>
                            <td class="col-md-9"><h5><em>Annual Subscription</em></h5></td>
                            <td class="col-md-1" style="text-align: center">  </td>
                            <td class="col-md-1 text-center"></td>
                            <td class="col-md-3 text-center">800</td>
                        </tr>
                        <tr>
                            <td class="col-md-9"><h5><em>Total</em></h5></td>
                            <td class="col-md-1" style="text-align: center">  </td>
                            <td class="col-md-1 text-center"></td>
                            <td class="col-md-1 text-center">4800</td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right">
                            <p>
                                <strong>Subtotal: </strong>
                            </p>
                            <p>
                                <strong>Tax: </strong>
                            </p></td>
                            <td class="text-center">
                            <p>
                                <strong>4800</strong>
                            </p>
                            <p>
                                <strong>2500</strong>
                            </p></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right"><h5><strong>Total: </strong></h5></td>
                            <td class="text-center"><h6><strong>4800</strong></h6></td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-success btn-lg btn-block">
                    Print   <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>