.well{
    margin-top: 4vh;
    margin-left: 10vw;
}
.RollNo{
    margin-top: 15px;
    padding-top: 15px;
}
.NameRoll{
    border: 1px solid #007991;
    padding-top: 13px;
}
.text-center{
    align-content: center;
    justify-content: center;
}

