<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row day-columns">
          <div class="day-column">
            <div class="day-header">Monday</div>
            <div class="day-content" >
              <div class="event blue" *ngFor="let day1 of monday">
                  <span class="title">{{day1.subjectName}}</span>
                  <footer>
                    <span>{{day1.startTime}}</span>
                    <span> - </span>
                    <span>{{day1.endTime}}</span>
                  </footer>
              </div>
            </div>
            <div class="day-footer">{{monday.length}} Classes</div>
          </div>


          <div class="day-column">
            <div class="day-header">Tuesday</div>
            <div class="day-content" >
              <div class="event blue" *ngFor="let day2 of tuesday">
                  <span class="title">{{day2.subjectName}}</span>
                  <footer>
                    <span>{{day2.startTime}}</span>
                    <span> - </span>
                    <span>{{day2.endTime}}</span>
                  </footer>
              </div>
            </div>
            <div class="day-footer">{{tuesday.length}} Classes</div>
          </div>

          <div class="day-column">
            <div class="day-header">Wednesday</div>
            <div class="day-content" >
              <div class="event blue" *ngFor="let day2 of wednesday">
                  <span class="title">{{day2.subjectName}}</span>
                  <footer>
                    <span>{{day2.startTime}}</span>
                    <span> - </span>
                    <span>{{day2.endTime}}</span>
                  </footer>
              </div>
            </div>
            <div class="day-footer">{{wednesday.length}} Classes</div>
          </div>


          <div class="day-column">
            <div class="day-header">Thursday</div>
            <div class="day-content" >
              <div class="event blue" *ngFor="let day2 of thursday">
                  <span class="title">{{day2.subjectName}}</span>
                  <footer>
                    <span>{{day2.startTime}}</span>
                    <span> - </span>
                    <span>{{day2.endTime}}</span>
                  </footer>
              </div>
            </div>
            <div class="day-footer">{{thursday.length}} Classes</div>
          </div>

          <div class="day-column">
            <div class="day-header">Friday</div>
            <div class="day-content" >
              <div class="event blue" *ngFor="let day2 of friday">
                  <span class="title">{{day2.subjectName}}</span>
                  <footer>
                    <span>{{day2.startTime}}</span>
                    <span> - </span>
                    <span>{{day2.endTime}}</span>
                  </footer>
              </div>
            </div>
            <div class="day-footer">{{friday.length}} Classes</div>
          </div>
          
          
          <div class="day-column">
            <div class="day-header">Saturday</div>
            <div class="day-content">
              
              <div class="event red">
                  <span class="title">Holiday</span>
                  <footer>
                    <!-- <span>Prop1</span>
                    <span>20:30</span> -->
                    
                  </footer>
              </div>
            </div>
            <div class="day-footer">No Class</div>
          </div>
          <div class="day-column">
            <div class="day-header">Sunday</div>
            <div class="day-content">
              <div class="event red">
                  <span class="title">Holiday</span>
                  <footer>
                    <!-- <span>Prop1</span>
                    <span>20:30</span> -->
                    
                  </footer>
              </div>
              
            </div>
            <div class="day-footer">No Class</div>
          </div>
        </div>
      </div>
    </div>
  </div>