<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row day-columns">
          <div class="day-column">
            <div class="day-header">Monday</div>
            <div class="day-content">
              <div class="event gray">
                  <span class="title">English</span>
                  <footer>
                    <span>08:00</span>
                  </footer>
              </div>
              <div class="event orange">
                  <span class="title">Urdu</span>
                  <footer>
                    <span>09:30</span>
                  </footer>
              </div>
              <div class="event red">
                  <span class="title">Math</span>
                  <footer>
                    <span>11:00</span>
                  </footer>
              </div>
              <div class="event blue">
                  <span class="title">Science</span>
                  <footer>
                    <span>12:30</span>
                  </footer>
              </div>
            </div>
            <div class="day-footer">4 classes</div>
          </div>
          <div class="day-column">
            <div class="day-header">Tuesday</div>
            <div class="day-content">
              <div class="event purple">
                  <span class="title">English</span>
                  <footer>
                    <span>08:00</span>
                  </footer>
              </div>
              
              <div class="event blue">
                  <span class="title">Urdu</span>
                  <footer>
                    <span>09:00</span>
                  </footer>
              </div>
            </div>
            <div class="day-footer">2 Classes</div>
          </div>
          <div class="day-column">
            <div class="day-header">Wednesday</div>
            <div class="day-content">
              <div class="event yellow">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
              <div class="event navy">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
              <div class="event red">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
              <div class="event blue">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
            </div>
            <div class="day-footer">4 Classes</div>
          </div>
          <div class="day-column">
            <div class="day-header">Thursday</div>
            <div class="day-content">
              <div class="event purple">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
              <div class="event navy">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
              <div class="event orange">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
              <div class="event red">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
              <div class="event blue">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
            </div>
            <div class="day-footer">5 Classes</div>
          </div>
          <div class="day-column">
            <div class="day-header">Friday</div>
            <div class="day-content">
              <div class="event purple">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
              <div class="event navy">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
               <div class="event yellow">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
              <div class="event navy">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
              <div class="event red">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
              <div class="event blue">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
              <div class="event orange">
                  <span class="title">Event Name</span>
                  <footer>
                    <span>Prop1</span>
                    <span>20:30</span>
                    
                  </footer>
              </div>
            </div>
            <div class="day-footer">7 Classes</div>
          </div>
          <div class="day-column">
            <div class="day-header">Saturday</div>
            <div class="day-content">
              
              <div class="event red">
                  <span class="title">Holiday</span>
                  <footer>
                    <!-- <span>Prop1</span>
                    <span>20:30</span> -->
                    
                  </footer>
              </div>
            </div>
            <div class="day-footer">No Class</div>
          </div>
          <div class="day-column">
            <div class="day-header">Sunday</div>
            <div class="day-content">
              <div class="event red">
                  <span class="title">Holiday</span>
                  <footer>
                    <!-- <span>Prop1</span>
                    <span>20:30</span> -->
                    
                  </footer>
              </div>
              
            </div>
            <div class="day-footer">No Class</div>
          </div>
        </div>
      </div>
    </div>
  </div>