/* You can add global styles to this file, and also import other style files */
.base-color{
    color: #009bd9;
}
.base-background{
    background-color: #009bd9;
}
.btn-primary{
    background-color: #009bd9;
}
a{
    cursor: pointer;
}