
<div class="text-center mt-4 mb-4"><h2>Select Any</h2></div> 
<div class="col-sm-12" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
<div class="flip" routerLink="/teacher/takeexam">
    <div class="front" style="background-image: url(https://res.cloudinary.com/umarnazaket/image/upload/v1623597685/p1_xm1wla.jpg); cursor: pointer;">
       <h1 class="text-shadow">TAKE EXAM</h1>
    </div>
    <div class="back">
       <h2>TAKE EXAM</h2>
       <p>Click To Take Exam</p>
    </div>
</div>
<div class="flip" routerLink="/teacher/markattendance">
    <div class="front" style="background-image: url(https://res.cloudinary.com/umarnazaket/image/upload/v1623597685/p5_xskej3.jpg)">
       <h1 class="text-shadow">MARK ATTENDANCE</h1>
    </div>
    <div class="back">
       <h2>MARK ATTENDANCE</h2>
       <p>Click to mark attendance</p>
    </div>
</div>

<div class="flip" routerLink="/teacher/schemeofstudy">
    <div class="front" style="background-image: url(https://res.cloudinary.com/umarnazaket/image/upload/v1616948600/tbel-abuseridze-EtwnK9c5KvQ-unsplash_kqeeoo.jpg)">
       <h1 class="text-shadow">ADD SCHEME OF STUDY</h1>
    </div>
    <div class="back">
       <h2>ADD SCHEME OF STUDY</h2>
       <p>Click To Add Scheme Of Study</p>
    </div>
</div>

<div class="flip" routerLink="/teacher/uploadmarks">
    <div class="front" style="background-image: url(https://res.cloudinary.com/umarnazaket/image/upload/e_brightness:-17/v1623597686/p3_kdtokz.jpg) ">
       <h1 class="text-shadow">UPLOAD MARKS</h1>
    </div>
    <div class="back">
       <h2>UPLOAD MARKS</h2>
       <p>Click To UPLOAD MARKS</p>
    </div>
</div>

<div class="flip" routerLink="/teacher/classlink">
    <div class="front" style="background-image: url(https://res.cloudinary.com/umarnazaket/image/upload/v1623597686/p2_goxnuh.jpg)">
       <h1 class="text-shadow">UPLOAD CLASS LINK</h1>
    </div>
    <div class="back">
       <h2>Upload Class Link</h2>
       <p>Click To Upload Class Link</p>
    </div>
</div>
</div>