<div class="col-sm-12">
    <div class="text-center mt-4 mb-4"><h3>Select an option</h3></div>
<div class="card_wrapper">
    <div class="card" routerLink="/teacher/markattendance">
        <div class="card_text">
            Mark Attendance
        </div>
    </div>
    <div class="card" routerLink="/teacher/uploadmarks">
        <div class="card_text">
            Upload Marks
        </div>
    </div>
    <div class="card" routerLink="/teacher/takeexam">
        <div class="card_text">
            Take Exam
        </div>
    </div>
    <div class="card" routerLink="/teacher/schemeofstudy">
        <div class="card_text">
            Add Scheme Of study
        </div>
    </div>
    <div class="card" routerLink="/teacher/classlink">
        <div class="card_text">
            Upload Class Link
        </div>
    </div>
</div>
</div>